* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    padding: 20px 0;
}

section h1 {
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box {
    margin-bottom: 10px; 
    display: flex;
    flex-direction: column;
}

.form-box label {
    margin: 10px 0;
}

.form-box input {
    width: 500px;
    padding: 10px;
    border-radius: 6px;
}

button {
    width: 100%;
    padding: 10px 0;
    border: none;
    background-color: rgb(0, 100, 100);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 10px;
}